
.contener{
  
    padding: 22px;
    margin: 5px; 
    color: #fff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #A09ABC;
    font-size: 30px;
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 0%;
    border-style: ridge;
}
.FotoPerson{
    margin-top: -3.70vw;
    margin-right: 2vw;
    width: 3vw; height: 3vw;
    float: right;
}
.FotoPerson:hover{
    border-radius: 14vw;
}
